<a href="https://colab.research.google.com/github/18K-480/ass-2/blob/master/AI_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Area of triangle

In [ ]:
a=float(input("enter 1st side"))
b=float(input("enter 2nd side"))
c=float(input("enter 3rd side"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**(1/2)
print("Area=",area)

enter 1st side18
enter 2nd side30
enter 3rd side24
Area= 216.0

2.string palindrome or not

In [ ]:
a=input("enter string:")
b=a.lower()
if b==b[::-1]:
  print("given string is palindrome")
else:
  print("given string is not palindrome")

enter string:mom
given string is palindrome

3.leap year or not

In [ ]:
a=int(input("enter year"))
if a%4==0 and a%100!=0 or a%400==0:
  print("leap year")
else:
  print("Not a leap year")

enter year2064
leap year

4.Space to hyphen problem

In [ ]:
a=input("Enter a string:")
b=a.replace(" ","-")
print(b)

Enter a string:welcome good morning
welcome-good-morning

5.Unique sort problem

In [22]:
a=input("Enter a string")
print(sorted(set(a.split(","))))

Enter a stringorange,white,red,cyan,green,magenta,cyan,pink,white
['cyan', 'green', 'magenta', 'orange', 'pink', 'red', 'white']

6.Tax calculator

In [ ]:
s=int(input("Enter montly salary:"))
if s<=250000:
  print("No tax")
elif 250001<=s and s<=500000:
  print("Tax rate is 5%")
  print("Tax amount=",(s*5)/100)
elif 500001<=s and s<=750000:
  print("Tax rate is 10%")
  print("Tax amount=",(s*10)/100)
elif 750001<=s and s<=1000000:
  print("Tax rate is 15%")
  print("Tax amount=",(s*15)/100)
elif 1000001<=s and s<=1250000:
  print("Tax rate is 20%")
  print("Tax amount=",(s*20)/100)
elif 1250001<=s and s<=1500000:
  print("Tax rate is 25%")
  print("Tax amount=",(s*25)/100)
else:
  print("Tax is 30%")
  print("Tax amount=",(s*30)/100)

Enter montly salary:1400000
Tax rate is 25%
Tax amount= 350000.0

7.List of arguments into single integer

In [ ]:
l=[]
n=int(input("enter no. of values in list"))
for i in range(0,n):
  a=int(input())
  l.append(a)
print(l)
list_int=int("".join(map(str,l)))
print(list_int)

enter no. of values in list3
11
33
50
[11, 33, 50]
113350

8.Units of Time

In [ ]:
d=int(input("enter no. of days:"))
h=int(input("enter no. of hours:"))
m=int(input("enter no. of minutes:"))
s=int(input("enter no. of seconds:"))
d=d*86400
h=h*3600
m=m*60
seconds=d+h+m+s
print("total no. of seconds=",seconds)

enter no. of days:2
enter no. of hours:12
enter no. of minutes:35
enter no. of seconds:60
total no. of seconds= 218160

9.Sort 3 integers

In [ ]:
a=int(input("enter 1st number"))
b=int(input("enter 2nd number"))
c=int(input("enter 3rd number"))
min_fun=min(a,b,c)
max_fun=max(a,b,c)
res=(a+b+c)-min_fun-max_fun
print("Sorted order is:",min_fun,res,max_fun)

enter 1st number20
enter 2nd number10
enter 3rd number30
Sorted order is: 10 20 30

10.Reads date and print its successor

In [ ]:
yr=int(input("enter year"))
mon=int(input("enter month"))
dt=int(input("enter date"))
print(yr,"-",mon,"-",dt)
if yr%4==0 and yr%100!=0 or yr%400==0:
  if mon==2:
    mon_len=29
  else:
    mon_len=28
elif mon in(1,3,5,7,8,10,12):
  mon_len=31
else:
  mon_len=30
if dt<mon_len:
  dt+=1
else:
  date=1
  if mon==12:
    mon=1
    yr+=1
  else:
    mon+=1
print(yr,"-",mon,"-",dt)

enter year2020
enter month08
enter date22
2020 - 8 - 22
2020 - 8 - 23

11.product of list of numbers

In [ ]:
l=[]
p=1
n=int(input("enter no. of values in list"))
for i in range(0,n):
  a=int(input())
  l.append(a)
  p=p*a
print("List=",l)
print("product=",p)

enter no. of values in list8
45
3
2
89
72
1
10
7
List= [45, 3, 2, 89, 72, 1, 10, 7]
product= 121111200

12.list[1,2,3] output[3,5]

In [7]:
l=[5,6,8,34,89,1]
out_list=[]
for i in range(len(l)-1):
    ol=l[i]+l[i+1]
    out_list.append(ol)
print("Result=",out_list)

Result= [11, 14, 42, 123, 90]

13.Tuple (2,3,4) output(2,6,12)

In [25]:
t=(5,6,8,3,9,1)
Out_list=[]
Out_list.append(t[0])
for i in range(len(t)-1):
    m=Out_list[i]*t[i+1]
    Out_list.append(m)
print("Out_list=",Out_list)

Out_list= [5, 30, 240, 720, 6480, 6480]

14.takes integers and print as list

In [ ]:
a=int(input("enter a number"))
l= [int(x) for x in str(a)] 
print(l)

enter a number1235
[1, 2, 3, 5]

15.finds the longest palindromic substring of a given string

In [3]:
def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a string : ")
print(longestpalindrome(n))

Enter a string : I know malayalam mom
 malayalam

16.substring check

In [ ]:
def check(str, sub_str): 
    if (str.find(sub_str) == -1): 
        print("0") 
    else: 
        print("1")
str=input("Enter string")
sub_str =input("enter string")
check(str, sub_str)

Enter string1010110010
enter string10110
1

17.Pouring water

In [2]:
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 2
Enter capacity of vessel a : 5
Enter capacity of vessel b : 2
Enter capacity to be obtained :3
Minimum number of steps required is :  2
Enter capacity of vessel a : 2
Enter capacity of vessel b : 3
Enter capacity to be obtained :4
Minimum number of steps required is :  -1